@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #DC7836;
    --secondary-color: #0192E0;
    --accent1-color: #2A1A6F;
    --accent2-color: #DDD025;
    --heading-font: "Madimi One", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}



header {
    max-width: 840px;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    background-color: var(--accent2-color);
}

header img {
    justify-self: center;
    width: 100px;
    height: auto;

}

nav {
    display: flex;
    padding: 10px;
    justify-self: center;
    align-items: center;
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-family: var(--paragraph-font);
    text-transform: uppercase;
    color: var(--accent1-color);
    
}



.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 840px;
    margin-top: 5px; 
}

.hero img {
    position: relative;
    width: 840px;
    height: 300px;
    object-fit: cover;
}

.hero h1 {
    width: 840px;
    position: absolute;
    top: 150px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(220, 120, 54, 0.75);
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    top: 220px;
    left: 110px;
    width: 600px;
    padding: 10px;
    height: 150px;
    border: 1px solid black;
    background-color: var(--accent1-color);
}

.hero article p {
    padding: 15px 5px 15px 5px;
    font-family: var(--paragraph-font);
    color: whitesmoke;
    text-align: justify;
}

.hero article img {
    display: block;
    width: 150px;
    height: auto;
    padding: 15px 5px 15px 5px;
    float: right;
}



section {
    max-width: 840px;
    height: auto;
    background-color: #0192E0;
    margin-top: 5px;
}

section h2 {
    font-family: var(--heading-font);
    text-align: center;
    padding: 10px;

}

section img {
    width: 150px;
} 

.history {
    display: flex;
    padding-bottom: 1rem;
}

.history p {
    text-align: justify;
    font-family: var(--paragraph-font);
    padding: 10px;
}

.figures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.figures figcaption {
    text-align: center;
    font-family: var(--paragraph-font);
}



footer {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    border: solid black 1px;
    margin-top: 5px;
    background-color: #0192E0;
}

footer p {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: var(--paragraph-font);
}

footer nav {
    columns: 1;
    padding: 1px;
    
}

nav a img {
    width: 40px;
    text-decoration: none;
}